# Core functionality - changes here should be rare!
/src/app.py                   @WellDoneSnake
/src/backend/database.py      @WellDoneSnake
/src/backend/routers/auth.py  @WellDoneSnake

# The frontend will need refactored soon to be more object oriented.
/src/static/   @WellDoneSnake
